@import './responsivetool.scss';

$bgColor:#333;
$textColor: #fff;

.container {
  font-family: Helvetica Neue,Verdana,Arial,Hiragino Sans GB,WenQuanYi Micro Hei,Heiti SC,STHeiti,Microsoft Yahei,SimSun,sans-serif;
  font-size: 16px;

  height: 44px;
  width: 100%;
  box-sizing: border-box;
  background-color: $bgColor;
  color: $textColor;
  padding: 0 10px;
  margin: 0;
  position: absolute;// 如果没有找到最近的非static定位的祖先元素，那么以初始包含块为基准(initial containing block),初始包含块不等于html也不等于body,而是以渲染内容的空间的坐标原点（左上）为基准
  right: 0;
  top: 0;
  
  // @include oGridRespondTo('L') {
  //   padding: 0px 30px;
  // }
  // @include oGridRespondTo('XL') {
  //   padding: 0px 74.5px;
  // }
  .content {
    width:100%;
    height:100%;
    position: relative;
  }
  button {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    padding: 0;
  }

  input {
    background-color: transparent;
  }
}

.form {
  height: 100%;  
  margin: 0;
  padding: 0;
  margin-right: 44px;//块级元素默认width为100%,如果设置了margin-right, margin-left，那么宽度自然就是100%去掉 margin-right去掉margin-left, 
  //如果不使用这种布局方式，可以使用cal(100%-44px)
  position: relative;

  .search-btn {
    position: absolute;
    left: 0;
    top: 0;
    width: 44px;
    height: 44px;
    background-position: center;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-image: url(http://static.ftchinese.com/ftc-icons/svg/white/search-white.svg);
  }
  
  .input-area {
    height: 100%;
    margin:0;
    margin-left: 44px; 
    
    input {
      width: 100%;
      height: 100%;
      border: 1px solid #a7a59b;
      color: $textColor;
      outline: none;
      padding-left: 5px;
      font-size:16px;
    }
  }
  /*
  .input-area {
    display: block;
    height: 100%;
    margin:0;
    margin-left: 44px;

    border: 1px solid #a7a59b;
    color: $textColor;
    outline: none;
    padding-left: 5px;
    
  }
  */
}

.switch-btn {
  position: absolute;
  right:0px;
  top: 0;
  width:44px;
  height:44px;
  display: block;
  background-position: center;
  background-size:20px 20px;
  background-repeat: no-repeat;
  background-image: url(http://static.ftchinese.com/ftc-icons/svg/white/cross-white.svg);
}

.initial-container { //初始状态只显示右侧开关按钮
  width: 64px;
  // @include oGridRespondTo('L') {
  //   padding: 0px 30px 0px 10px;
  //   width: 84px;
  // }
  // @include oGridRespondTo('XL') {
  //   padding: 0px 74.5px 0px 10px;
  //   width:128.5px;
  // }
  .form {
    display: none;
  }
  .switch-btn {
    background-image: url(http://static.ftchinese.com/ftc-icons/svg/white/search-white.svg);
  }
}

.sticky {
  @include oGridRespondTo(L) {
    position: fixed;
    top: 0;
  }
}